<html>
<body>
<ul >
   <li >
       <img src="../static/arkep2.png" style="margin-left:6px;margin-top:-5px;margin-right:2px;"></img>
   </li>
  
   <li >
      <img src="../static/ARKEP3.png" style="cursor:default;margin-left:6px;margin-top:-6%;margin-right:2px;"></img>
   </li>
  
   <li style="cursor:pointer;float:right;font-size:20px;margin-right:3%;margin-top:-1%;">
         <a href="http://www.arkep-rks.org/">
        <img src="../static/home.png" style="margin-left:-4px;margin-top:-7px;margin-right:3px;"></img>Home
        </a>
   </li>
</ul>

<p> Te dhenat e juaja jane derguar me sukses ! </p>



</body>

